<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/style/css/bootstrap.min.css")
    @Styles.Render("~/Content/style/css/font-awesome.min.css")
    @Styles.Render("~/Content/style/css/prettyPhoto.css")
    @Styles.Render("~/Content/style/css/price-range.css")
    @Styles.Render("~/Content/style/css/animate.css")
    @Styles.Render("~/Content/style/css/main.css")
    @Styles.Render("~/Content/style/css/responsive.css")

   
    @Scripts.Render("~/bundles/modernizr")

   
</head>
<body>
  

    <header id="header">
        <!--header-->
        <!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                          @Html.ActionLink("E-Shop", "Index",  new {controller="Home", area = "Common" })
                           
                        </div>
                        
                    </div>
                    
                    <div class="col-sm-8">
                        
                        <div class="shop-menu pull-right">
                            
                            <ul class="nav navbar-nav">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("U")||User.IsInRole("A"))
                                    {
                                                                       


                                                
                                            
                                       
                                    <li style="margin-top:10px;"><span>Hello @Session["UserName"]!</span></li>
                                    <li style="margin-top:10px;"><span><i class="fa fa-user"></i> @Html.ActionLink("Logout", "SignOut", new { controller = "Login", area = "Security" })</span></li>
                                    
                                    <li style="margin-top:10px;"><span><i class="fa fa-shopping-cart"></i> @Html.ActionLink("Cart", "ViewCart", "Product", new { area = "Common" }, new { @class = "primary" })</span><span id="count"> </span></li>
                                   }
                                    
                                }
                                else { 
                                <li style="margin-top:10px;"><span><i class="fa fa-user"></i> @Html.ActionLink("Signup", "Index", new { controller = "Register", area = "Security" })</span></li>
                               
                                
                               
                                <li style="margin-top:10px;"><span><i class="fa fa-shopping-cart"></i> @Html.ActionLink("Cart", "ViewCart", "Product", new { area = "Common" }, new { @class = "primary" })</span><span id="count"> </span></li>
                                <li style ="margin-top:10px;"><span><i class="fa fa-lock"></i> @Html.ActionLink("Login", "Index", new { controller = "Login", area = "Security" })</span></li>
                                }
</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                            @if (User.Identity.IsAuthenticated)
                             { 
                                if (User.IsInRole("A"))
                                {
                                     <li id="Home">@Html.ActionLink("Home", "Index", "Home", new { area = "Common" }, new { @class = "" })</li>
                                    
                                     <li>@Html.ActionLink("Manage Category", "Index", new { Controller = "ManageCategory", Area = "Admin" })</li> 
                                 <li>@Html.ActionLink("Manage Product", "Index", new { Controller = "ManageProduct", Area = "Admin" })</li> 
                                }

                                if (User.IsInRole("U"))
                                {
                                      <li id="Home">@Html.ActionLink("Home", "Index", "Home", new { area = "Common" }, new { @class = "" })</li>
                                    
                                     <li>@Html.ActionLink("Product", "Index", new { Controller = "Product", Area = "Common" })</li>
                                     <li class="dropdown" id="myshop">
                                    <a href="#">My Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li>@Html.ActionLink("Purchaise History", "Index", new { Controller = "PurchaiseHistory", Area = "User" })</li>
                                        <li>@Html.ActionLink("CheckOut", "ViewCart", "Product", new { area = "Common" }, new { @class = "primary" })</li>

                                        <li>@Html.ActionLink("Wish List", "ViewCart", "Product", new { area = "Common" }, new { @class = "primary" })</li>
                                      
                                    </ul>
                                </li> 
                              
                                    <li class="dropdown" id="myshop">
                                        <a href="#">Account<i class="fa fa-angle-down"></i></a>
                                        <ul role="menu" class="sub-menu">
                                            <li>@Html.ActionLink("Change Password", "Index", new { Controller = "ChangePassword", Area = "User" })</li>

                                            <li>@Html.ActionLink("Change Address", "Index", new { Controller = "ChangeAddress", Area = "User" })</li>

                                        </ul>
                                    </li>
                                }
                             }
                                else { 
                                      <li id="Home">@Html.ActionLink("Home", "Index", "Home", new { area = "Common" }, new { @class = "" })</li>
                                <li class="dropdown">
                                    <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li>@Html.ActionLink("Product", "Index", new { Controller = "Product", Area = "Common" })</li>
                                        
                                        @*<li>@Html.ActionLink("Cart", "ViewCart", "Product", new { area = "Common" }, new { @class = "primary" })</li>*@
                                        <li>@Html.ActionLink("Login", "Index", new { controller = "Login", area = "Security" })</li>
                                    </ul>
                                </li>
                                }
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header>
    
    @if (@Request.Url.AbsoluteUri.Contains("Home"))
    {
      
           <section id="slider">
            <!--slider-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#slider-carousel" data-slide-to="1"></li>
                                <li data-target="#slider-carousel" data-slide-to="2"></li>
                            </ol>

                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-sm-6">
                                        <h1><span>E</span>-Shop</h1>
                                        <h2>Free E-Commerce Template</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <button type="button" class="btn btn-default get">Get it now</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="~/Content/style/images/home/girl1.jpg" class="girl img-responsive" alt="" />
                                        <img src="~/Content/style/images/home/pricing.png" class="pricing" alt="" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-sm-6">
                                        <h1><span>E</span>-Shop</h1>
                                        <h2>100% Responsive Design</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <button type="button" class="btn btn-default get">Get it now</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="~/Content/style/images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                        <img src="~/Content/style/images/home/pricing.png" class="pricing" alt="" />
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="col-sm-6">
                                        <h1><span>E</span>-Shop</h1>
                                        <h2>Free Ecommerce Template</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        <button type="button" class="btn btn-default get">Get it now</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="~/Content/style/images/home/girl3.jpg" class="girl img-responsive" alt="" />
                                        <img src="~/Content/style/images/home/pricing.png" class="pricing" alt="" />
                                    </div>
                                </div>

                            </div>

                            <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    }
    
    
        <div class="container body-content">
            
            
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            
                        </div>
                       

                    </div>
                </div>

            </section>
            
            @RenderBody()
           
            
        </div>
    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>e</span>-shop</h2>
                            
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Service</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Online Help</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Change Location</a></li>
                                <li><a href="#">FAQ’s</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Quock Shop</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">T-Shirt</a></li>
                                <li><a href="#">Mens</a></li>
                                <li><a href="#">Womens</a></li>
                                <li><a href="#">Gift Cards</a></li>
                                <li><a href="#">Shoes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privecy Policy</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Billing System</a></li>
                                <li><a href="#">Ticket System</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Company Information</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">Affillate Program</a></li>
                                <li><a href="#">Copyright</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Your email address" />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                <p>Get the most recent updates from <br />our site and be updated your self...</p>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                   
                </div>
            </div>
        </div>

    </footer>
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    @Styles.Render("~/Content/style/css/bootstrap.min.css")
    @Styles.Render("~/Content/style/css/font-awesome.min.css")
    @Styles.Render("~/Content/style/css/prettyPhoto.css")
    @Styles.Render("~/Content/style/css/price-range.css")
    @Styles.Render("~/Content/style/css/animate.css")
    @Styles.Render("~/Content/style/css/main.css")
    @Styles.Render("~/Content/style/css/responsive.css")

   



</body>
</html>
